@{
    ViewBag.Title = "Index";
}
<div id="ec-toolpane-container">
    <div class="ec-inner">
        <div id="ec-toolpane">
            
        </div>
    </div>
</div>

<div id="ec-form-container">
    <div class="ec-inner">
        <div id="ec-form">
            <span itemid="EntityTemplate.Title" itemtype="text">
                <input type="text" class="ec-large" id="ec-entitytitle" />
            </span>
         </div>
    </div>
</div>

<div class="ec-clearfloat"></div>